.contents__nav
  %ul
    %li
      = link_to user_path(current_user.id), class: 'list__btn' do
        マイページ
    %li
      = link_to '#', class: 'list__btn' do
        いいね！一覧
    %li
      = link_to new_item_path, class: 'list__btn' do
        出品する
    %li
      = link_to '#', class: 'list__btn' do
        出品した商品
    %li
      = link_to '#', class: 'list__btn' do
        購入した商品
    %li
      .list__btn
        お問い合わせ

  %h1 設定
  %ul
    %li
      = link_to '#', class: 'list__btn' do
        プロフィール
    %li 
      = link_to edit_user_address_path(current_user.id,current_user.address.id), class: 'list__btn' do
        発送元・お届け先住所変更
    %li
      = link_to card_path(current_user.id), class: 'list__btn' do
        支払い方法
    %li 
      = link_to destroy_user_session_path, method: :DELETE, class: 'list__btn' do
        ログアウト
