.my--page__header
  = render 'my-page_header'
.my--page__contents
  = render 'profile-edit'
%aside
  = render 'layouts/global-aside'
%footer
  = render 'layouts/global-footer'
= render 'layouts/global-sellBtn'