.my__page__header
  = render 'my-page_header'
.my__page__contents
  = render 'my-page_contents'
%aside
  = render 'layouts/global-aside'
%footer
  = render 'layouts/global-footer'
= render 'layouts/global-sellBtn'
  