= form_with model: @item, id: "sell-form", local: true do |f|
  %section.sellFillOut.sellImage
    .sellFillOut__label
      %label.sellFillOut__label--title#picture-scroll 出品画像
      %span.sellFillOut__label--required 必須
    %p.sellFillOut__text 最大10枚までアップロードできます
    #image-box
      %ul.picturePreviews
        - if @item.id == nil
          = f.fields_for :pictures do |picture|
            %li.pictureInput
              %label.pictureInput__uploadLabel
                .pictureInput__uploadLabel__box
                  %i.fas.fa-camera.uploadBox-icon
                  %p クリックしてファイルをアップロード
                  .pictureInput__uploadLabel__box--input
                    = picture.file_field :image, class: 'picture-upload hidden'
        - else
          = f.fields_for :pictures, @item.pictures do |picture|
            %li.picture-preview
              %label.pictureInput__uploadLabel{ style: 'display: none;' }
                .pictureInput__uploadLabel__box
                  %i.fas.fa-camera.uploadBox-icon
                  %p クリックしてファイルをアップロード
                  .pictureInput__uploadLabel__box--input
                    = picture.file_field :image, name: "item[pictures_attributes][#{picture.object.id}][image]", class: 'picture-edit hidden'
                    = picture.hidden_field :id, value: picture.object.id, name: "item[picture][#{picture.object.id}]"
              .picture-preview__wrapper
                = image_tag picture.object.image.to_s, class: 'preview'
              .picture-preview__btn
                .picture-preview__btn--delete 削除
    .sellFillOut__alert
      #sell-picture-alert

  %section.sellFillOut.sellItem
    .sellFillOut__label
      %label.sellFillOut__label--title 商品名
      %span.sellFillOut__label--required 必須
    = f.text_field :name, type: 'text', class: 'sellFillOut__inputArea', id: 'sell-name', placeholder: '40文字まで'
    .sellFillOut__alert
      #sell-name-alert
    .sellFillOut__label
      %label.sellFillOut__label--title 商品の説明
      %span.sellFillOut__label--required 必須
    = f.text_area :explanation, type: 'text', rows: 6, class: 'sellFillOut__inputArea', id: 'sell-explanation', placeholder: "商品の説明（1,000文字以内）\n（色、素材、重さ、定価、注意点など）\n例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。\n#〇〇でタグをつけることも可能です。\n例）#ジャニーズ"
    .sellFillOut__wordCount
      %span#sell-word-count 0
      \/1000
    .sellFillOut__alert
      #sell-word-count-alert

  %section.sellFillOut.sellDetail
    %p.sellFillOut__text 商品の詳細
    .sellFillOut__label
      %label.sellFillOut__label--title カテゴリー
      %span.sellFillOut__label--required 必須
    .sellFillOut__selectWrapper.category-wrapper
      - if @item.category == nil
        .sellFillOut__selectWrapper__box.category-parent
          = f.collection_select :category, Category.where(ancestry: nil), :id, :name, {prompt: '選択してください'}, {class: 'select-form', id: 'category_parent'}
          = embedded_svg('angle-down-solid.svg', class: 'select-arrow')
      - else 
        .sellFillOut__selectWrapper__box.category-parent
          = f.collection_select :category, Category.where(ancestry: nil), :id, :name, {selected: @category_parent.id}, {class: 'select-form', id: 'category_parent'}
          = embedded_svg('angle-down-solid.svg', class: 'select-arrow')
        .sellFillOut__selectWrapper__box.category-child#children_wrapper
          = f.collection_select :category, Category.where(ancestry: @category_child.ancestry), :id, :name, {selected: @category_child.id}, {class: 'select-form', id: 'category_child'}
          = embedded_svg('angle-down-solid.svg', class: 'select-arrow')
        .sellFillOut__selectWrapper__box.category-grandchild#grandchildren_wrapper
          = f.collection_select :category, Category.where(ancestry: @category_grandchild.ancestry), :id, :name, {selected: @category_grandchild.id}, {class: 'select-form', id: 'category_grandchild'}
          = embedded_svg('angle-down-solid.svg', class: 'select-arrow')

    .sellFillOut__label
      %label.sellFillOut__label--title 商品の状態
      %span.sellFillOut__label--required 必須
    .sellFillOut__selectWrapper
      .sellFillOut__selectWrapper__box
        = f.select :condition, Item.conditions_i18n.invert, {prompt: '選択してください'}, class: 'select-form'
        = embedded_svg('angle-down-solid.svg', class: 'select-arrow')

  %section.sellFillOut.sellDelivery
    .section.sellFillOut--wrapper
      %p.sellFillOut__text 配送について
      = link_to '#' do
        = icon('far', 'question-circle')
    .sellFillOut__label
      %label.sellFillOut__label--title 配送料の負担
      %span.sellFillOut__label--required 必須
    .sellFillOut__selectWrapper
      .sellFillOut__selectWrapper__box
        = f.collection_select :postage_id, Postage.all, :id, :name, {prompt: "選択してください"}, {name: 'postage', class: 'select-form'}
        = embedded_svg('angle-down-solid.svg', class: 'select-arrow')
    .sellFillOut__label
      %label.sellFillOut__label--title 配送元の地域
      %span.sellFillOut__label--required 必須
    .sellFillOut__selectWrapper
      .sellFillOut__selectWrapper__box
        = f.collection_select :prefecture_id, Prefecture.all, :id, :name, {prompt: "選択してください"}, {name: 'prefecture', class: 'select-form'}
        = embedded_svg('angle-down-solid.svg', class: 'select-arrow')
    .sellFillOut__label
      %label.sellFillOut__label--title 発送までの日数
      %span.sellFillOut__label--required 必須
    .sellFillOut__selectWrapper
      .sellFillOut__selectWrapper__box
        = f.collection_select :delivery_date_id, DeliveryDate.all, :id, :name, {prompt: "選択してください"}, {name: 'delivery-date', class: 'select-form'}
        = embedded_svg('angle-down-solid.svg', class: 'select-arrow')

  %section.sellFillOut.sellPrice
    .section.sellFillOut--wrapper
      %p.sellFillOut__text 価格（¥300〜9,999,999）
      = link_to '#' do
        = icon('far', 'question-circle')
    .sellFillOut__label
      .sellFillOut__label--wrapper
        .title-and-required
          %label.sellFillOut__label--title 販売価格
          %span.sellFillOut__label--required 必須
        .price-box
          %span ¥                                              
          = f.text_field :price, type: 'number', style: 'text-align: right', placeholder: '0', class: 'sellFillOut__label--input', id: 'sell-price'
    
      .sellFillOut__alert
        #sell-price-alert
    .sellFillOut__label--wrapper.fee-and-profit
      販売手数料（3％）
      %span#fee ー
    %hr{ noshade: true }
    .sellFillOut__label--wrapper.fee-and-profit
      販売利益
      %span#profit ー
    %section.sellFillOut__submit
      .sellFillOut__submit__sellBtn__wrapper
        - if @item.id == nil
          = f.submit '出品する', { class: 'sellFillOut__submit__sellBtn__wrapper--post' } 
        - else
          = f.submit '編集する', { class: 'sellFillOut__submit__sellBtn__wrapper--post' } 
      = link_to root_path, class: 'sellFillOut__submit__sellBtn--cansel' do
        もどる
      .sellFillOut__submit__caution
        %p 禁止されている<a href='#'>行為</a>および<a href='#'>出品物</a>を必ずご確認ください。<a href='#'>偽ブランド品</a>や<a href='#'>盗品物</a>などの販売は犯罪であり、法律により処罰される可能性があります。 また、出品をもちまして<a href='#'>加盟店規約</a>に同意したことになります。
