.topIndex__title
  %h2 ピックアップアイテムズ
  = link_to '#' do
    %h3 <strong>新規投稿商品</strong>

.topIndex__contents
  - @items.each do |item|
    = link_to item_path(item.id), class: 'topIndex__contents__itemBox' do 
      = image_tag item.pictures.first.image, class: 'topIndex__contents__itemBox--image', alt: '商品画像'
      - unless item.bought_at == nil
        .topIndex__contents__itemBox--triangle
        .topIndex__contents__itemBox--soldMessage sold
      .topIndex__contents__itemBox--summary
        %name 
          = item.name
        .itemDetails
          .itemDetails__price 
            #{item.price}円
          .itemDetails__fav
            .itemDetails__fav--mark
              = icon('fa','star')
            .itemDetails__fav--count 
              = @likes[item.id]
        %p (税込)