.topCategory__title
  %h2 ピックアップカテゴリー
  %h3 <strong>#{@picked_up_category}カテゴリー新規投稿商品</strong>

.topCategory__contents
  - @picked_up_items.each do |item|
    = link_to item_path(item.id), class: 'topCategory__contents__itemBox' do 
      = image_tag item.pictures.first.image.url, class: 'topCategory__contents__itemBox--image', alt: '商品画像'
      - unless item.bought_at == nil
        .topCategory__contents__itemBox--triangle
        .topCategory__contents__itemBox--soldMessage sold
      .topCategory__contents__itemBox--summary{data: {itemid: item.id}}
        %name 
          = item.name
        .itemDetails
          .itemDetails__price 
            #{item.price}円
          .itemDetails__fav
            .itemDetails__fav--mark
              = icon('fa','star')
            .itemDetails__fav--count 
              - if @likes_count[item.id] == nil
                0
              - else
                = @likes_count[item.id]
          .itemDetails__view
            .itemDetails__view--mark
              = icon('fa','eye')
            .itemDetails__view--count
              - if item.view_count > 99999
                99999+
              - else
                = item.view_count
        %p (税込)