.purchaseBackground
  = render 'layouts/global-header-simple'

  %main.purchaseMain
    %h2.purchaseMain__content.purchaseTitle 購入内容の確認
    -# ToDo: 商品登録機能実装後にform_withでパラメータを読み込む
    = form_with model: @item, local: true do |f|
      .purchaseMain__content.purchaseItem
        .purchaseItem__imageArea
          = image_tag @item.pictures.first.image.url, class: 'purchaseItem__imageArea--image', alt: '購入アイテム画像'
        .purchaseItem__box
          %p 
            = @item.name
          .purchaseItem__box--price
            %span 
              = @item.price
              円 
            %span.shipping-fee （税込） 送料込み
      %section.purchaseMain__content
        .purchaseMain__content__wrapper
          .purchaseMain__content__wrapper__price
            .purchaseMain__content__wrapper__price--label 支払い金額
            .purchaseMain__content__wrapper__price--value 
              = @item.price
              円
        .purchaseMain__content__wrapper
          .purchaseMain__content__wrapper__payMethod
            .purchaseMain__content__wrapper__payMethod--label 支払い方法
            = link_to card_path(@card.id), class: 'changeBtn' do
              変更する
          %p.user-card-info
            クレジットカード
            = "**** **** **** " + @card_information.last4 
          %p.user-card-info
            有効期限
            - exp_month = @card_information.exp_month.to_s
            - exp_year = @card_information.exp_year.to_s.slice(2,3)
            = exp_month + " / " + exp_year
          %figure.user-card-logo
            = image_tag "#{@card_src}",width:'34',height:'20', alt:'master-card'
        .purchaseMain__content__wrapper
          .purchaseMain__content__wrapper__delivery
            .purchaseMain__content__wrapper__delivery--label 配送先
            = link_to edit_user_address_path(current_user.id,current_user.address.id), class: 'changeBtn' do
              変更する
          %p.user-address-info
            - address = current_user.address
            %p
              ="〒"+ address.zip_code 
            %p 
              = address.prefecture_i18n + address.city + address.block_number
            - unless address.building == nil
              %p
                = address.building 
            %p
              = address.dest_last_name + address.dest_first_name
        .purchaseMain__content__wrapper
          %p.purchase-info
            郵便局/コンビニ受取をご希望の方は、購入後に<strong>取引画面</strong>から受取場所を変更をすることが可能です。出品者が発送作業を開始した後は受取場所の変更ができませんので、早めに変更を行ってください。
          .btn-enter
            = link_to pay_item_path(@item.id), method: :patch do
              .purchase-btn
                購入する

  = render 'layouts/global-footer-simple'
