%header
  = render 'layouts/global-header'

.items__details__header
  .my--page__nav
    .my--page__nav__guide
      .my--page__nav__guide--menu
        %ul
          %li.my--page__nav__guide--menu__btn
            = link_to '#', id: 'toppage-btn' do
              FURIMA
          %li.my--page__nav__guide--menu__btn
            = icon('fa', 'angle-right')
          %li.my--page__nav__guide--menu__btn
            = link_to '#' do
              = @item.category.parent.parent.name
          %li.my--page__nav__guide--menu__btn
            = icon('fa', 'angle-right')
          %li.my--page__nav__guide--menu__btn
            = link_to '#' do
              = @item.category.parent.name
          %li.my--page__nav__guide--menu__btn
            = icon('fa', 'angle-right')
          %li.my--page__nav__guide--menu__btn
            = link_to '#' do
              = @item.category.name
          %li.my--page__nav__guide--menu__btn
            = icon('fa', 'angle-right')
          %li.my--page__nav__guide--menu__btn
            %b 
              = @item.name
            
.items__details__contents
  %section.main__contents
    .main__contents__details
      .top__contents
        .top__contents__items{data: {itemid: @item.id}}
          %h2.top__contents__items__name
            = @item.name
          .top__contents__items__picture
            %ul.main__picture__detail
              %li.main__picture__detail__list 
                = image_tag @item.pictures.first.image.url, alt: '商品画像(メイン)', class: 'main__image'
                - unless @item.bought_at == nil
                  .sold--icon
                  .sold--message sold
                %ul.sub__picture__detail
                  - @item.pictures.each do |picture|
                    %li.sub__picture__detail__list
                      = image_tag picture.image.url, alt: '商品画像(サブ)', class: 'sub__image', height:'72', width:'60'
          .top__contents__items__price
            %span 
              ¥#{@item.price}
            .price__detail
              %a (税込)
              %a 送料込み
          .top__contents__items__text
            = @item.explanation
          .top__contents__items__table
            %table
              %tr
                %th 出品者
                %td 
                  = @item.user.nickname
              %tr
                %th カテゴリー
                %td
                  %ul
                    %li
                      = link_to '#' do
                        = @item.category.parent.parent.name
                    %li
                      = link_to '#' do
                        = icon('fa', 'angle-right') 
                        = @item.category.parent.name
                    %li
                      = link_to '#' do
                        = icon('fa', 'angle-right') 
                        = @item.category.name
              %tr
                %th ブランド
                %td
              %tr
                %th 商品のサイズ
                %td
              %tr
                %th 商品の状態
                %td
                  = @item.condition_i18n
              %tr 
                %th 配送料の負担
                %td
                  = @item.postage.name
              %tr 
                %th 発送元の地域
                %td
                  = link_to '#' do
                    = @item.prefecture.name
              %tr 
                %th 発送日の目安
                %td
                  = @item.delivery_date.name
          .top__contents__items__footer
            %ul
              %li.likes__btn
                = icon('fa','star')
                お気に入り 0
              %li.views#view_count
                = icon('fa','eye')
                - if @item.view_count > 99999
                  閲覧回数 99999+
                - else
                  閲覧回数 #{@item.view_count}
            %ul
              %li.report__btn
                = link_to '#' do
                  =icon('fa','flag')
                  不適切な商品の通報

        - if @item.bought_at == nil
          - if user_signed_in? && current_user.id == @item.user.id
            %section.item--edit__btn
              = link_to edit_item_path, class: 'link__btn' do
                商品の編集
            %p or
            %section.item--pause__btn
              = link_to '#', class: 'un--link__btn' do
                商品の出品を一旦停止する
            %section.item--delete__btn
              = link_to item_path, method: :delete, class: 'un--link__btn' do
                この商品を削除する
          - else
            %section.purchase__btn
              = link_to purchase_item_path, class: 'link__btn' do
                購入する

        %section.top__contents__comment
          %form.comment__box
            %input{type:'hidden'}
            %textarea{type:'text', class: 'form__area'}
            .notice
              %p 相手のことを考え丁寧なコメントを心がけましょう。
              %p 不快な言葉遣いなどは利用制限や退会処分となることがあります。
            %button.submit__btn
              = icon('fa','comment')
              コメントする
      %ul.link__items
        %li
          = link_to '#' do
            = icon('fa', 'angle-left')
            %span 前の商品
        %li 
          = link_to '#' do
            後ろの商品
            = icon('fa','angle-right')
      .back__category
        = link_to '#' do
          ベビー・キッズをもっと見る
  
%aside
  = render 'layouts/global-aside'
%footer
  = render 'layouts/global-footer'
= render 'layouts/global-sellBtn'