%header
  = render 'layouts/global-header'

.items__details__header
  .my--page__nav
    .my--page__nav__guide
      .my--page__nav__guide--menu
        %ul
          %li.my--page__nav__guide--menu__btn
            = link_to '#', id: 'toppage-btn' do
              FURIMA
          %li.my--page__nav__guide--menu__btn
            = icon('fa', 'angle-right')
          %li.my--page__nav__guide--menu__btn
            = link_to '#' do
              = @item.category.parent.parent.name
          %li.my--page__nav__guide--menu__btn
            = icon('fa', 'angle-right')
          %li.my--page__nav__guide--menu__btn
            = link_to '#' do
              = @item.category.parent.name
          %li.my--page__nav__guide--menu__btn
            = icon('fa', 'angle-right')
          %li.my--page__nav__guide--menu__btn
            = link_to '#' do
              = @item.category.name
          %li.my--page__nav__guide--menu__btn
            = icon('fa', 'angle-right')
          %li.my--page__nav__guide--menu__btn
            %b 
              = @item.name
            
.items__details__contents
  %section.main__contents
    .main__contents__details
      .top__contents
        .top__contents__items{data: {itemid: @item.id}}
          %h2.top__contents__items__name
            = @item.name
          .top__contents__items__picture
            %ul.main__picture__detail
              %li.main__picture__detail__list 
                = image_tag @item.pictures.first.image.url, alt: '商品画像(メイン)', class: 'main__image'
                - unless @item.bought_at == nil
                  .sold--icon
                  .sold--message sold
                %ul.sub__picture__detail
                  - @item.pictures.each do |picture|
                    %li.sub__picture__detail__list
                      = image_tag picture.image.url, alt: '商品画像(サブ)', class: 'sub__image', height:'72', width:'60'
          .top__contents__items__price
            %span 
              ¥#{@item.price}
            .price__detail
              %a (税込)
              %a 送料込み
          .top__contents__items__text
            %p#js_tag{ style: 'text-align: left;'} #{raw(nl2br(@item.explanation))}
          .top__contents__items__table
            %table
              %tr
                %th 出品者
                %td 
                  = @item.user.nickname
              %tr
                %th カテゴリー
                %td
                  %ul
                    %li
                      = link_to '#' do
                        = @item.category.parent.parent.name
                    %li
                      = link_to '#' do
                        = icon('fa', 'angle-right') 
                        = @item.category.parent.name
                    %li
                      = link_to '#' do
                        = icon('fa', 'angle-right') 
                        = @item.category.name
              %tr
                %th 商品の状態
                %td
                  = @item.condition_i18n
              %tr 
                %th 配送料の負担
                %td
                  = @item.postage.name
              %tr 
                %th 発送元の地域
                %td
                  = link_to '#' do
                    = @item.prefecture.name
              %tr 
                %th 発送日の目安
                %td
                  = @item.delivery_date.name
          .top__contents__items__footer
            %ul
              %li
                - if user_signed_in? && @item.user.id != current_user.id
                  - if @like_check
                    = button_to item_user_like_path(@item.id, current_user.id), method: :delete , class: 'fav__btn' do
                      .likes__btn{data: {itemid: @item.id}}
                        = icon('fa','star')
                        お気に入り #{@likes_count}
                  - else
                    = button_to item_user_likes_path(@item.id, current_user.id), method: :post , class: 'fav__btn' do
                      .likes__btn{data: {itemid: @item.id}}
                        = icon('fa','star')
                        お気に入り #{@likes_count}
                - else
                  .likes__btn{data: {itemid: @item.id}}
                    = icon('fa','star')
                    お気に入り #{@likes_count}

              %li.views#view_count
                = icon('fa','eye')
                - if @item.view_count > 99999
                  閲覧回数 99999+
                - else
                  閲覧回数 #{@item.view_count}
            %ul
              %li.report__btn
                %a
                  =icon('fa','flag')
                  不適切な商品の通報

        - if @item.bought_at == nil
          - if user_signed_in?
            - if current_user.id == @item.user.id
              %section.item--edit__btn
                = link_to edit_item_path, class: 'link__btn' do
                  商品の編集
              %p or
              %section.item--delete__btn
                = link_to item_path, method: :delete, class: 'un--link__btn' do
                  この商品を削除する
            - else
              %section.purchase__btn
                = link_to purchase_item_path, class: 'link__btn' do
                  購入する

        %section.top__contents__comment
          .comment__container
            %ul.comment__container__list
              - @commentAll.each do |comment|
                %li.comment--block
                  - if user_signed_in?
                    - if comment.user_id == current_user.id 
                      %section.user__comment{data:{index: comment.id}} 
                        .user__comment__current__name
                          - unless comment.comment_status == 1
                            = current_user.nickname
                        .user__comment__body__current-user
                          .user__comment__body__current-user--text
                            = simple_format(comment.text)
                          - unless comment.comment_status == 1
                            .user__comment__body__current-user__date
                              .left--icon
                                .icon--watch
                                  = icon('fa', 'clock')
                                %span 
                                  = comment.created_at.strftime("%Y年%m月%d日 %H時%M分")
                              - if @item.user_id == current_user.id
                                .right--icon#current_user_comment-delete{data:{index: comment.id}} 
                                  = link_to comment_path(comment.id), method: :PATCH do
                                    = icon('fa', 'trash')
                      %section.user__information
                        = link_to '#', class: 'seller__link' do
                          //　プロフィールページが出来次第実装
                          .user__icon
                            = image_tag 'member_photo_noimage_thumb.png', height: '40', width: '40' 
                          -if @item.user_id == comment.user_id
                            .user__current-name
                              出品者
                    - else
                      %section.user__information
                        = link_to '#', class: 'seller__link' do
                          //プロフィールページが出来次第実装
                          .user__icon
                            = image_tag 'member_photo_noimage_thumb.png', height: '40', width: '40' 
                          -if @item.user_id == comment.user_id
                            .user__name
                              出品者
                      %section.user__comment{data:{index: comment.id}}  
                        .user__comment__name
                          - unless comment.comment_status == 1
                            = comment.user.nickname
                        .user__comment__body
                          .user__comment__body--text
                            = comment.text
                          - unless comment.comment_status == 1
                            .user__comment__body__date
                              .left--icon
                                .icon--watch
                                  = icon('fa', 'clock')
                                %span 
                                  = comment.created_at.strftime("%Y年%m月%d日 %H時%M分")
                              - if @item.user_id == current_user.id
                                .right--icon#user_comment-delete{data:{index: comment.id}} 
                                  = link_to comment_path(comment.id), method: :PATCH do
                                    = icon('fa', 'trash')
                  - else
                    %section.user__information
                      = link_to '#', class: 'seller__link' do
                        //プロフィールページが出来次第実装
                        .user__icon
                          = image_tag 'member_photo_noimage_thumb.png', height: '40', width: '40' 
                        -if @item.user_id == comment.user_id
                          .user__name
                            出品者
                    %section.user__comment{data:{index: comment.id}}  
                      .user__comment__name
                        - unless comment.comment_status == 1
                          = comment.user.nickname
                      .user__comment__body
                        .user__comment__body--text
                          = comment.text
                        .user__comment__body__date
                          - unless comment.comment_status == 1
                            .left--icon
                              .icon--watch
                                = icon('fa', 'clock')
                              %span 
                                = comment.created_at.strftime("%Y年%m月%d日 %H時%M分")
          - if user_signed_in?
            .comment__box
              = form_with class: 'new__comment',model: @comment, local: true do |f|
                = f.text_area :text,type: 'text', class: 'form__area'
                = f.hidden_field :item_id, value: @item.id
                .notice
                  %p 相手のことを考え丁寧なコメントを心がけましょう。
                  %p 不快な言葉遣いなどは利用制限や退会処分となることがあります。
                = f.submit 'コメントする',{class: 'submit__btn'}
%aside
  = render 'layouts/global-aside'
%footer
  = render 'layouts/global-footer'
= render 'layouts/global-sellBtn'