%header
  = render 'layouts/global-header'
.searchResult
  %section.searchIndex
    .searchIndex__title
      %h2 タグ付き商品
      %h3 <strong>表示タグ： ##{@tag.name}</strong>

    .searchIndex__contents
      - @items.each do |item|
        - unless item.user_id == @current_user_id
          = link_to item_path(item.id), class: 'searchIndex__contents__itemBox' do 
            = image_tag item.pictures.first.image.url, class: 'searchIndex__contents__itemBox--image', alt: '商品画像'
            - unless item.bought_at == nil
              .searchIndex__contents__itemBox--triangle
              .searchIndex__contents__itemBox--soldMessage sold
            .searchIndex__contents__itemBox--summary
              %name 
                = item.name
              .itemDetails
                .itemDetails__price 
                  #{item.price}円
                .itemDetails__fav
                  .itemDetails__fav--mark
                    = icon('fa','star')
                  -# .itemDetails__fav--count 
                  -#   - if @likes_count[item.id] == nil
                  -#     0
                  -#   - else
                  -#     = @likes_count[item.id]
              %p (税込)

%footer
  = render 'layouts/global-footer'
= render 'layouts/global-sellBtn'
