.my--page__contents__box
  .my--page__contents__box--select
    .contents__nav
      %ul
        .active
          = link_to '#', class: 'list__btn' do
            マイページ
        %li
          = link_to '#', class: 'list__btn' do
            お知らせ
        %li
          = link_to '#', class: 'list__btn' do
            やることリスト
        %li
          = link_to '#', class: 'list__btn' do
            いいね！一覧
        %li
          = link_to '#', class: 'list__btn' do
            出品する
        %li
          = link_to '#', class: 'list__btn' do
            下書き一覧
        %li
          = link_to '#', class: 'list__btn' do
            出品した商品-出品中
        %li
          = link_to '#', class: 'list__btn' do
            出品した商品-取引中
        %li
          = link_to '#', class: 'list__btn' do
            出品した商品-売却済み
        %li
          = link_to '#', class: 'list__btn' do
            購入した商品-取引中
        %li
          = link_to '#', class: 'list__btn' do
            購入した商品-過去の取引
        %li
          = link_to '#', class: 'list__btn' do
            ニュース一覧
        %li
          = link_to '#', class: 'list__btn' do
            評価一覧
        %li
          = link_to '#', class: 'list__btn' do
            ガイド
        %li
          = link_to '#', class: 'list__btn' do
            お問い合わせ
        
      %h1 メルペイ
      %ul
        %li
          = link_to '#', class: 'list__btn' do 
            売上・振込申請
        %li 
          = link_to '#', class: 'list__btn' do
            ポイント

      %h1 設定
      %ul
        %li
          = link_to '#', class: 'list__btn' do
            プロフィール
        %li 
          = link_to '#', class: 'list__btn' do
            発送元・お届け先住所変更
        %li
          = link_to '#', class: 'list__btn' do 
            支払い方法
        %li 
          = link_to '#', class: 'list__btn' do
            メール/パスワード
        %li 
          = link_to '#', class: 'list__btn' do
            本人情報
        %li 
          = link_to '#', class: 'list__btn' do
            電話番号の確認
        %li 
          = link_to '#', class: 'list__btn' do
            ログアウト


      
  .my--page__contents__box--allert
    %section.card__information
      .card__information--header
        %h1 クレジットカード情報入力
      .card__information--form
        %section.top
          %label カード番号
          %span 必須
        %input{ type: 'text', class:'card__number', placeholder: '半角数字のみ', maxlength: '19'}
        .form
        .visa
          VISA
        %section.middle
          %label 有効期限
          %span 必須
        %input{ type: 'text', class:'card__number', placeholder: '半角数字のみ', maxlength: '4'}
        %section.bottom
          %label セキュリティコード
          %span 必須
        %input{ type: 'text', class:'card__number', placeholder: 'カード背面4桁もしくは3桁の番号'}
        .action
          %a1.question__mark ?
          %a カード裏面の番号とは
        .link__btn
          = link_to '#',class: 'add__card__btn' do
            追加する

      