.wrapper
  .wrapper__top
    = link_to root_path, class: 'wrapper__top__icon' do 
      = image_tag 'logo.png', width: '140', alt: 'FURIMAロゴ'
    = form_with url: search_items_path, class: 'wrapper__top__searchBox', method: :get, local: true do |f|
      = f.text_field :keyword, class: 'wrapper__top__searchBox__input', placeholder: 'キーワードから探す'
      = image_submit_tag 'icon-search 1.png', class: 'wrapper__top__searchBox__icon'

  .wrapper__bottom
    %ul
      %li.category__btn
        = icon('fas','list' )
        = link_to '#', class: 'wrapper__bottom--left', id: 'category-search-btn' do
          カテゴリー
          .category__modal
            .category__modal--contents
              .category__modal--contents--header
                .category__modal--contents--header--title
                  カテゴリー一覧
                .category__modal--contents--header--back
                  戻る
              .category__modal--contents--list
                .category__list
                  - @parents.each do|parent|
                    .category__list--name
                      = simple_format(parent.name)

      %li.wrapper__bottom--left
        = icon('fas', 'tags')
        = link_to '#', id: 'brand-search-btn' do
          商品一覧
    %ul
      -if user_signed_in? #ログインしているかどうかわかりやすくするために追加しました
        %li.wrapper__bottom--right
          = link_to destroy_user_session_path, method: :delete, id: 'logout-btn' do
            ログアウト
        %li.wrapper__bottom--right
          = link_to user_path(current_user.id), id: 'mypage-btn' do
            = current_user.nickname
      -else
        %li.wrapper__bottom--right
          = link_to new_user_session_path, id: 'login-btn' do
            ログイン
        %li.wrapper__bottom--right
          = link_to new_user_registration_path, id: 'signup-btn' do
            新規会員登録