.my--page__header
  = render 'users/my-page_header'
.my--page__contents
  = render 'profile-page_contents'
%aside
  = render 'layouts/global-aside'
%footer
  = render 'layouts/global-footer'
= render 'layouts/global-sellBtn'